{% extends 'core/base.html' %}
{% block title %}
    Venta
{% endblock %}
{% block content %}
    <div class="mt-4">
        {% if venta.estado == venta.ESTADO_CREADA %}
            <h1>Cancelar venta</h1>
        {% else %}
            <h1>Anular venta</h1>
        {% endif %}
        <hr>
        <p class="h5 mt-4 mb-4">Detalles:</p>
        <p class="card-subtitle h6 mb-2 text-muted">Código de venta: {{ venta.codigo }}</p>
        <p class="card-subtitle h6 mb-2 text-muted">Fecha de venta: {{ venta.get_date }}</p>

        <p class="h5 mt-4 mb-4">Productos:</p>
        <ul class="list-group">
            {% for detalleventa in venta.detalleventa_set.all %}
                <li class="list-group-item">
                    <p>{{ detalleventa.producto.nombre }}
                        <span class="secondary float-right">Cantidad: {{ detalleventa.cantidad }}</span>
                        <span class="secondary float-right">Bs. {{ detalleventa.precio }}  ---</span>
                    </p>
                </li>
            {% endfor %}
        </ul>
        <hr>
        <form class="form-group mt-5" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if venta.estado == venta.ESTADO_CREADA %}
                <button type="submit" class="btn btn-danger btn-block">Confirmar cancelar</button>
            {% else %}
                <button type="submit" class="btn btn-danger btn-block">Confirmar anular</button>
            {% endif %}
            <a class="btn btn-primary btn-block" href="{% url 'venta:ventas' %}">Cancelar</a>
        </form>
    </div>
{% endblock %}
