
.card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}


@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}

.btn-add {
    font-size: 1.5em;
}

.btn-add:hover {
    cursor: pointer;
    color: #3c3c3c;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    margin-top: -2px;
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

span.secondary {
    color: #6b6b6b !important;
}